.page-footer{
  display: flex;
  height: 100px;
}
.containers-footer{
  width: calc(100%/3);
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.link-footer{
  height: 100%;
}
.logo-footer{
  height: 100%;
}
.text-footer{
  font-size: 0.8em;
  color:white;
  font-weight:normal;
}
.media-footer{
  font-size: 1.5em;
  color:white;
}


/* Ajustes de responsividade */

@media screen and (max-width: 600px){
  .page-footer{
    flex-direction: column;
    height: auto;
  }
  .containers-footer{
    width: 100%;
    padding: 1em;
  }
  .logo-footer{
    width: 10em;
  }
  .text-footer{
    font-size: 0.8em;
  }
}