/* Container header e a Logo */

.page-header{
  height: 100px;
}
.nav-container-header,
.list-container-header, 
.logo-container-header, 
.logo-image-header{
  height: 100%;
}
.list-container-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-image-header{
  cursor: pointer;
}

/* Botao de retornar */


.return-home-header{
  visibility: hidden;
  background-color:#a238ff;
  padding: 5px;
  border-radius: 20px;
}
.return-text-header{
  color: white;
  padding: 0 10px;
}


/* Barra de pesquisa */

.search-container-header{
  height: calc(100%/3);
}
.search-form-header{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.search-form-header, .search-bar-header, .search-button-header{
  height: 100%;
  background-color: #202020;
  border: none;
  border-radius: 20px;
  color: #888888;
}
.search-bar-header{
  border-radius: 0 20px 20px 0;
  width: 80%;

}
.search-bar-header:focus{
  outline: none;
}
.search-button-header{
 padding: 0 10px;
 border-radius: 20px 0 0 20px;
 cursor: pointer;
}
.search-delete-header-hide{
  visibility: hidden;
}
.search-delete-header{
  visibility: visible;
  position: absolute;
  right: 0;
  height:100%;
  padding-right: 5%;
  background-color: transparent;
  color: #888888;
  font-size: 1em;
  border:none;
  cursor:pointer;
}
.search-delete-header:active{
  transform: scale(0.95)
}





/* Ajustes de responsividade */

@media screen and (max-width: 700px){
.return-text-header-hidden{
  display: none;
}
}