
.show-modal{
 position: fixed;
 top: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 z-index: 3;
 transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
 -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes scale-in{
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}

.hide-modal{
  display: none;
}

.card-modal{
  border: 2px solid black;
  max-height: 100%;
  max-width: 700px;
  padding: 1em 1em;
  border-radius: 0.2em;
  background-color: #121212;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*modal de add ao carrinho*/

.text-modal{
  font-size: 1.2em;
  padding:1em;
}
.product-modal{
  display:flex;
  gap: 1em;
  padding: 1em 1em;
  border: 1px solid black;
  border-radius: 0.2em;
}
.product-modal-image{
  width:calc(100%/3);
  border-radius: 0.2em;
}
.product-modal-details{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-modal-description{
  color: whitesmoke;
}
.product-modal-value{
  font-size: 1.5em;
  color: #a238ff;
  text-align: end;
}
.form-modal{
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-modal-continue, .button-modal-finish{
 padding: 1em;
 border: none;
 border-radius: 0.2em;
 width: 40%;
 font-size: 1em;
 font-weight: bold;
 cursor: pointer;
}

.button-modal-finish{
  color: white;
  background-color: #a238ff;
}


@media screen and (max-width: 600px){
  .form-modal{
    flex-direction: column;
  }
  .button-modal-continue, .button-modal-finish{
    width: 100%;
  }
}
@media screen and (max-width: 500px){
  .body-modal-pause{
    overflow: hidden;
  }
  .card-modal{
    /* height: 100%; */
    padding:1em;
  }
  .product-modal{
    flex-direction: column;
    align-items: center;
  }
  .product-modal-image{
    width:50%;
  }
  .product-modal-details{
    align-items: center;
  }
  .product-modal-title{
    text-align: center;
  }
  .product-modal-description{
    display: none;
  }
}


/*modal de finalização de compras*/

.form-finish{
border: 1px solid #a238ff;;
 padding: 2em;
 font-size: 1.2em;
}

.button-close-finish{
  width: 100%;
  font-size: 1em;
  padding: 0.5em 1em 2em;
  cursor: pointer;
  color:rgb(255, 66, 66);
  text-align: end;
}

.label-finish{
  padding: 1em;
}

.select-finish{
  padding: 1em;
  outline: none;
  font-weight: bold;
}

.card-text{
  padding: 1em;
}
.card-text-number{
  padding: 1em;
  color: #a238ff;
}

.finalize-payment{
  width: 100%;
  padding: 1em;
  color: white;
  background-color: #a238ff;
  border: none;
  border-radius: 0.1em;
}

@media screen and (max-width: 650px){
  .form-finish{
    display:flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px){
  .form-finish{
    padding: 0.5em;
    width:90vw;
  }
}


/*modal de deletar produto do carrinho*/

.text-delete{
 padding: 1em;
}
.form-delete-product{
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 padding: 2em;
}
.button-delete-yes, .button-delete-not{
  font-size: 1em;
   padding: 1em;
   width: 20%;
   border: none;
   border-radius: 0.2em;
   font-weight: bold;
   cursor:pointer;
}
.button-delete-yes{
  background-color: #a238ff;
  color:white;
}
.button-delete-not{
  background-color:rgb(255, 66, 66);
  color:white;
}

@media screen and (max-width:600px) {

  .form-delete-product{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
  }
  
  .button-delete-yes, .button-delete-not{
    width: 100%;
  }
}





/*Modal de produto existente no carrinho*/

.modal-existing-product{
  display: flex;
  flex-direction: column;
  background-color: #121212;
  padding: 2em;
  gap: 1em;
  border: 2px solid black;
}

.container-text-existing-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
}


.form-existing-product{
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button-see-product, .button-see-product-not{
  font-size: 1em;
  padding: 1em;
  width: 20%;
  border: none;
  border-radius: 0.2em;
  font-weight: bold;
  cursor:pointer;
}

.button-see-product{
  background-color: #a238ff;
  color:white;
}
.button-see-product-not{
  background-color:rgb(255, 66, 66);
  color:white;
}

@media screen and (max-width:600px) {
  .modal-existing-product{
    padding: 1em;
  }
  .form-existing-product{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
  }
  
  .button-see-product, .button-see-product-not{
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .text-existing-product{
    font-size: 1em;
  }
}