.scrollar{
  display:none;
}

.button-scrollar{
  display: none;
  background-color: #a238ff;
  color: white;
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 10px;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}