/* Classe da seção inicial, que contém os posters e sliders dos posters */
.section-slider{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 85%;
  margin: 20px auto 0;
  padding: 0px 0px;
  max-height: 30em;
}

/*Classe que esconde a sessao do slider*/
.section-slider-hide{
  display: none;
}

/* poster geral e suas imagens*/

.poster-container{
  overflow: hidden;
  width: 80%;
  max-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
 }

/* Classe que é add para mostrar o poster do momento, e seu efeito */
 .active-animation{
  visibility: visible;
  max-height: 100%;
  width: 100%;
  animation: fadeAlternating 1s;
 }
 @keyframes fadeAlternating {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

/* Classe original de cada item enquanto ele não é ativado */
 .poster-item{
  visibility: hidden;
  position: absolute;
  max-height: 100%;
  width: 100%;
  border-radius: 5px;
 }
.poster-image{
  max-height: 30em;
  min-width: 100%;
  border-radius: 5px;
  box-shadow: -5px 5px 15px black;
}

/* Descrição interna do poster*/

.poster-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100% ;
  padding:0 0 5% 4%;
  color: white;
  /* box-shadow: inset 50px -50px 50px rgba(0, 0, 0, 0.534); */
  --angulo: 280deg;
  --deslocamento-x: calc(200px * cos(var(--angulo)));
  --deslocamento-y: calc(200px * sin(var(--angulo)));
  box-shadow: inset var(--deslocamento-x) var(--deslocamento-y) 200px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
}

.poster-title-container{
  max-width: 100%;
  height: calc(100%/8);
}
.poster-title{
  font-size: 2.5em;
}
.poster-description, 
.poster-acquire{
  max-width: 100%;
  height: calc(100%/5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.poster-description-text1, 
.poster-acquire-text{
  font-size: 0.8em;
}
.poster-description-text2{
  max-width: 50%;
}

.poster-acquire-form{
  max-width: 50%;
}
.poster-acquire-buy, 
.poster-acquire-save{
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 0.7em;
  font-weight: bold;
  cursor:pointer;
}
.poster-acquire-buy:hover, 
.poster-acquire-save:hover{
 opacity: 0.8;
}
.poster-acquire-save{
  background-color: rgba(255, 255, 255, 0.226);
  color: white;
}

/* Slider Controlador do poster e suas imagens*/

.wrapper{
 border-radius: 5px;
 width: 25%;
 max-height: 30em;
}
.slider-container{
  width: 100%;
 height: 100%;
}

/* Classe que ativa e dá o efeito do slider assim como o do poster dele que está ativo */
.active-slider{
  width: 100%;
  height: calc(100%/6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.active-slider::before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #222222;
  animation: progress 7s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Classe original, que se mantem enquanto não é ativado */
.slider-item{
  width: 100%;
  height: calc(100%/6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.slider-item:hover{
  background-color: #222222;
}
.slider-image{
  border-radius: 20%;
  object-fit: cover;
  width: 25%;
  height: 80%;
  z-index: 1;
}
.slider-title{
  z-index: 1;
  width: 60%;
  color: white;
  font-size: 0.8em;
  font-weight: 300;
}


/* Ajustes de responsividade */

@media screen and (max-width:1110px){
  .section-slider{
    width: 95%;
    gap: 5px;
  }
  .poster-container{
    width: 100%;
    height: 27em;
  }
  .poster-title{
    font-size: 2em;
  }
  .poster-description-text2{
    max-width: 80%;
  }
  .poster-description-text1, 
  .poster-acquire-text{
    font-size: 0.8em;
  }
  .poster-acquire-form{
    max-width: 100%;
  }

  .wrapper{
    height: 27em;
  }
  .slider-title{
    font-size: 0.7em;
  }
}

@media screen and (max-width:900px){
  .poster-container{
    height: 23em;
  }
  .poster-image{
    max-height: 23em;
  }

  .wrapper{
    height: 23em;
  }
}


@media screen and (max-width: 800px) {
  .section-slider{
    margin-top: 30px;
    flex-direction: column;
  }
  .poster-details{
    gap: 0px;
    --angulo: 280deg;
    --deslocamento-x: calc(100px * cos(var(--angulo)));
    --deslocamento-y: calc(100px * sin(var(--angulo)));
    box-shadow: inset var(--deslocamento-x) var(--deslocamento-y) 100px rgb(0, 0, 0);
  }

  .poster-description{
    display: none;
  }
  .poster-acquire-buy, 
  .poster-acquire-save{
    padding: 15px;
  }
  .poster-acquire-save-text{
    display:none;
  }

  /* Ajuste do wrapper para mobile, no formato de radio button */

  .wrapper{
    width: 100%;
    height: auto;
  }
  .slider-container{
    display:flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
  }
  .active-slider{
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }
  .active-slider::before {
    border-radius: 50%;
    background-color:#a238ff;
  }
  .slider-item{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #222222;
  }
  .slider-image, .slider-title{
    display:none;
  }

}
@media screen and (max-width:650px){
  .poster-container{
    height: 20em;
  }
  .poster-image{
    max-height: 20em;
  }
}

@media screen and (max-width:580px){

  .poster-container{
    max-height: 17em;
  }
  .poster-image{
    max-height: 17em;
  }
  .poster-details{
    --angulo: 280deg;
    --deslocamento-x: calc(50px * cos(var(--angulo)));
    --deslocamento-y: calc(50px * sin(var(--angulo)));
    box-shadow: inset var(--deslocamento-x) var(--deslocamento-y) 100px rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 3%;
  }
  .poster-title{
    font-size: 1.2em;
  }
  .poster-acquire{
    display:flex;
    height: calc(100%/4);
  }
  .poster-acquire-buy, 
  .poster-acquire-save{
    margin-bottom: 5px;
    font-size: 0.8em;
    padding: 10px 10px;
  }

}
@media screen and (max-width:500px){
  .poster-title{
    font-size: 0.95em;
  }
}

@media screen and (max-width:450px){
  .poster-container{
    max-height: 15em;
  }
  .poster-image{
    max-height: 15em;
  }
  .poster-acquire-buy, 
  .poster-acquire-save{
    font-size: 0.5em;
  }
}

