/* font-family */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Paginas css */
  @import url(./css/header.css);
  @import url(./css/slider.css);
  @import url(./css/products.css);
  @import url(./css/footer.css);
  @import url(./css/show-product.css);
  @import url(./css/modal.css);
  @import url(./css/scrollar.css);
  @import url(./css/cart-shopping.css);
  @import url(./css/page-to-thank.css);


/* Geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
html, body{
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
}


a, li{
  list-style: none;
  text-decoration: none;
}

