/* font-family */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* pages css */
  @import url(./css/header.css);
  @import url(./css/slider.css);
  @import url(./css/products.css);
  @import url(./css/footer.css);



/* Geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #121212;
}

a, li{
  list-style: none;
  text-decoration: none;
}
.scrollar{
  display:none;
}
.button-scrollar{
  display: none;
  background-color: #a238ff;
  color: white;
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 10px;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}