/* font-family */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* pages css */
  @import url(./css/header.css);
  @import url(./css/slider.css);
  @import url(./css/products.css);



/* Geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #121212;
}

a, li{
  list-style: none;
  text-decoration: none;
}